     {
     auto_https off
     debug
     }
     http://auth.collect.tenkings.co {
     handle {
       redir https://auth.collect.tenkings.co{uri}
     }
     }
     auth.collect.tenkings.co {
     tls /etc/certs/auth_fullchain.pem /etc/certs/auth_privkey.pem
     reverse_proxy auth-service:8080
     }
